.chart
    width: 100%
    height: 100%
    padding: 24px
    border-radius: 16px
    display: flex
    flex-direction: column
    justify-content: space-between
    background: #fff
    &__header
        display: flex
        align-items: center
        gap: 16px
        margin-bottom: 32px
    &__header-logo
        background: #D4E4EB
        width: 36px
        height: 36px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 5lx

    
    @media (max-width: 1024px)
        .legend
            flex-direction: row !important
            flex-wrap: wrap
        .flex
            
            flex-direction: column 
    @media (max-width: 768px )
        padding: 16px
    @media (max-width: 425px )
        .chart__title h3
            font-size: 24px !important
        .chart__title p
            font-size: 14px !important
    


        
