.catalog {
  width: 100%;
  min-width: 450px;
}
.catalog__container {
  width: 100%;
  background: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
}
.catalog .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin-top: 16px;
  font: 400 14px "Open Sans";
}
.catalog .pagination button {
  background: none;
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
  display: flex;
}
.catalog .pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.catalog .pagination .view {
  background: #9D9D9D;
  color: #000;
  padding: 5px 0;
  width: 70px;
  border-radius: 8px;
}
.catalog .pagination .view:hover {
  cursor: pointer;
}
.catalog .pagination__block {
  gap: 8px;
  align-items: center;
  display: flex;
}
.catalog .pagination__block span {
  width: 110px;
}
@media (max-width: 465px) {
  .catalog .pagination {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.catalog .header {
  display: flex;
  justify-content: space-between;
}
.catalog .header :global(.MuiSelect-icon) {
  right: 0 !important;
}
.catalog .header :global(.MuiSelect-select) {
  padding-right: 22px !important;
}
.catalog .header__block {
  display: flex;
  gap: 26px;
  align-items: end;
}
.catalog .header__block .header__selectWrapper {
  height: -moz-min-content;
  height: min-content;
}
.catalog .header__block .header__selectWrapper:nth-child(1) {
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}
.catalog__selectWrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: -moz-min-content !important;
  width: min-content !important;
  padding-bottom: 4px;
}
.catalog__select {
  width: 100%;
  border-radius: 10px !important;
  padding: 12px 12px 12px 16px;
  display: flex;
  align-items: center;
  border: 1px solid #1D1D1F;
  font: 400 14px "Open Sans";
}
.catalog__select--padding {
  border-bottom: 1px solid black;
}
.catalog__select--padding :global(.MuiSelect-icon) {
  right: 0px !important;
}
.catalog__select--border {
  border: none;
  padding: 0;
}
.catalog__select--burger :global(.MuiSelect-icon) {
  right: 0 !important;
}
.catalog__select--burger :global(.MuiSelect-select) {
  padding-right: 20px !important;
}
.catalog .clothes {
  width: 100%;
  justify-content: center;
  display: inline-flex;
  gap: 16px;
  flex-wrap: wrap;
}
.catalog .clothes__block {
  width: 31%;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}
.catalog .clothes__img {
  border: 1px solid black;
}
.catalog .clothes__img img {
  width: 100%;
  background: grey;
  border-radius: 8px;
}
.catalog .clothes__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog .clothes__size {
  display: flex;
  justify-content: space-between;
  font: 400 14px "Open Sans";
}
.catalog .clothes__size p {
  color: #8D8D8E;
}
.catalog .clothes__name p {
  font: 400 18px "Open Sans";
}
.catalog .clothes__stock p {
  color: #8D8D8E;
  font: 400 18px "Open Sans";
}
.catalog .clothes__prise p {
  font: 700 18px "Open Sans";
}
.catalog :global(.MuiMenu-list li) {
  background-color: black !important;
}
.catalog :global(.MuiSelect-select) {
  padding: 0;
  font: 400 14px "Open Sans" !important;
}
.catalog :global(.Mui-selected) {
  background-color: black !important;
}
.catalog :global(.MuiSelect-icon) {
  top: auto !important;
  width: 15px !important;
  height: 15px !important;
}
.catalog :global(.MuiSvgIcon-root) {
  width: 20px !important;
  height: 20px !important;
}
.catalog :global(.MuiSelect-icon) {
  transition: transform 300ms ease;
  right: 16px;
  top: calc(50% - 12px);
  position: absolute;
  pointer-events: none;
}
.catalog :global(.MuiSelect-icon.MuiSelect-iconOpen) {
  transform: rotate(180deg);
}
.catalog :global(.MuiOutlinedInput-notchedOutline) {
  display: none !important;
}
@media (max-width: 1260px) {
  .catalog .clothes__block {
    width: 47%;
  }
}
@media (max-width: 1024px) {
  .catalog {
    min-width: auto;
  }
}
@media (max-width: 500px) {
  .catalog .header__block {
    gap: 5px;
  }
  .catalog .clothes__block {
    width: 98%;
  }
}/*# sourceMappingURL=TabPanel.module.css.map */