.MuiFormControl-root {
  max-width: 700px;
}

.MuiInputBase-root {
  border-bottom: none;
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}

.address {
  background: rgba(134, 134, 134, 0.4392156863);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  inset: 0;
  z-index: 33;
  background: rgba(134, 134, 134, 0.4392156863);
  display: flex;
  justify-content: center;
  align-items: center;
}
.address__container {
  padding: 24px;
  width: 100%;
  max-width: 600px;
}
.address__block {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
  padding: 24px;
}
.address__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.address__header h1 {
  font: 500 32px "PT Serif";
}
.address__header :global(.MuiSvgIcon-root) {
  width: 24px !important;
  height: 24px !important;
}
.address__header :global(.MuiButtonBase-root) {
  border-radius: 8px !important;
}
.address__main {
  margin-bottom: 30px;
}
.address__info {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
}
.address__info input {
  height: 60px;
  width: 100%;
  margin-bottom: 0px;
  padding: 8px 16px;
  border: 1px solid #ccd5db;
  border-radius: 8px;
  flex: 1;
  font: 400 18px "Open Sans";
}
.address__info input::-webkit-outer-spin-button, .address__info input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.address .no-scroll {
  overflow: hidden !important;
  height: 100vh;
}
.address__info-block {
  margin-bottom: 16px;
}
.address__info-block p {
  font: 400 18px "Open Sans";
  color: #000;
  text-align: start;
}
.address__footer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.address__footer button {
  font: 400 18px "Open Sans";
  flex-basis: 50%;
}
.address__button-update {
  background-color: #ED805B;
  color: white;
}
.address__button-cancel, .address__button-update {
  padding: 12px 0;
  border: none;
  border-radius: 8px;
}
.address__button-cancel:hover, .address__button-update:hover {
  cursor: pointer;
}
.address__button-update:hover {
  background-color: #ea987d;
}
.address__button-cancel:hover {
  background: #f6f6f8;
}
.address__button-cancel {
  background: rgba(237, 128, 91, 0.4);
  border: 1px solid #ED805B;
  color: #000;
}
.address__popup-close {
  background: none;
  border: none;
  font-size: 10px;
  cursor: pointer;
}
.address ::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
.address ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.address ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: white;
  margin-top: 10px;
}
.address ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ADADAD;
}
.address ::-webkit-scrollbar-thumb:window-inactive {
  background: #ADADAD;
}
@media (max-width: 500px) {
  .address .popup__block {
    display: flex;
    min-height: 263px;
    max-height: none;
    height: auto;
    flex: 1;
  }
  .address .address__header h1 {
    font-size: 20px;
  }
  .address .address__block {
    padding: 16px;
  }
  .address .address__info {
    margin-bottom: 16px;
  }
  .address .address__info input {
    height: 50px;
  }
  .address .address__info :global(.MuiInputBase-root) {
    height: 50px !important;
  }
  .address .address__info-block {
    margin-bottom: 8px;
  }
}
@media (max-width: 425px) {
  .address .address__main {
    height: 90vh;
    margin-left: 10px;
    padding-right: 10px;
    overflow: auto;
    margin-bottom: 20px;
  }
  .address .address__info {
    flex-direction: column;
  }
  .address .address__container {
    padding: 0px;
    height: 100vh;
  }
  .address .address__block {
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}/*# sourceMappingURL=AddressPopup.module.css.map */