.core {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
	// padding-bottom: 16px;
	width: 100%;

	h1 {
		font-weight: 400;
		font-size: 32px;
		line-height: 100%;
		color: #1d1d1f;
		font-family: "PT serif", serif;
	}
	.timezone__select-value {
		display: flex;
		gap: 2px;
	}
	.language {
		background: #fff;
		border-radius: 8px;
	}
	.timezone__value {
		font: 400 12px "Open Sans";
	}
	.timezone__select {
		width: 100%;
		border-radius: 8px;
		display: flex;
		align-items: center;
	}
	:global(.MuiSvgIcon-root) {
		display: none;
	}
	:global(.MuiSelect-select) {
		min-height: auto !important;
	}

	:global(.MuiSelect-icon) {
		transition: transform 300ms ease;
		top: calc(50% - 8px);
		position: absolute;
		pointer-events: none;
	}
	:global(.MuiOutlinedInput-input) {
		padding: 7px !important;
		padding-right: 25px !important;
	}

	:global(.MuiSelect-icon.MuiSelect-iconOpen) {
		transform: rotate(180deg);
	}
	:global(.MuiOutlinedInput-notchedOutline) {
		display: none !important;
	}

	& > div {
		display: flex;
		column-gap: 8px;

		& > div:first-child {
			width: 32px;
			height: 32px;
			background-color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 4px;
		}

		// & > div:nth-child(2) {
		// 	width: 66px;
		// 	height: 32px;
		// 	display: flex;
		// 	background: #fff;
		// 	color: #1d1d1f;
		// 	align-items: center;
		// 	font-weight: 400;
		// 	font-size: 12px;
		// 	line-height: 150%;
		// 	border-radius: 4px;
		// 	padding-left: 4px;
		// }
	}
	@media (max-width: 1024px) {
		.actions {
			display: none !important;
		}
	}
	@media (max-width: 768px) {
		.responsive__fontSize {
			font-size: 16px;
		}
		.responsive__margin {
			margin-bottom: 0px;
		}
	}
}

.grey {
	color: #92a1a8;
}
